<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>Welcome.html</welcome-file>
		<welcome-file>Login.html</welcome-file>
		<welcome-file>Signup.html</welcome-file>
		<welcome-file>Search.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.app</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.app.LoginService.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.app.ItemService.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SigninServlet</display-name>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>com.app.LoginService.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/SigninServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ItemServlet</display-name>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>com.app.ItemService.ItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/ItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NewItemServlet</display-name>
		<servlet-name>NewItemServlet</servlet-name>
		<servlet-class>com.app.ItemService.NewItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewItemServlet</servlet-name>
		<url-pattern>/NewItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>main</display-name>
		<servlet-name>main</servlet-name>
		<servlet-class>com.app.main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetUsernameServlet</display-name>
		<servlet-name>GetUsernameServlet</servlet-name>
		<servlet-class>com.app.GetUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUsernameServlet</servlet-name>
		<url-pattern>/GetUsernameServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.app.LoginService.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>PaymentProcessingServlet</display-name>
		<servlet-name>PaymentProcessingServlet</servlet-name>
		<servlet-class>com.app.PaymentService.PaymentProcessingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentProcessingServlet</servlet-name>
		<url-pattern>/PaymentProcessingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ShippingServlet</display-name>
		<servlet-name>ShippingServlet</servlet-name>
		<servlet-class>com.app.PaymentService.ShippingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShippingServlet</servlet-name>
		<url-pattern>/ShippingServlet</url-pattern>
	</servlet-mapping>
</web-app>
